<% content_for :title, 'Approval'%>

<% content_for :content do%>
    <div>
        <div class="card-style">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Telepon</th>
                        <th>Produk</th>
                        <th>Approve</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody>
                    <%@customers.each do |customer|%>
                        <tr>
                            <td><%= customer.nama_customer%></td>
                            <td><%= customer.no_hp%></td>
                            <td><%= customer.nama_product%></td>
                            <td><button onclick="approve('<%= customer.id_customers%>', '<%= customer.nama_customer%>')"
                                    class="btn btn-success"><i class="ri-check-line"></i></button></td>
                            <td><button onclick="reject('<%= customer.id_customers%>', '<%= customer.nama_customer%>')" class="btn btn-danger"><i class="ri-close-line"></i></button></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% end %>